.git
.github
.gitignore
.venv
.pytest_cache
__pycache__
*.pyc
*.pyo
*.egg-info
.DS_Store
node_modules
npm-debug.log
.env
.env.local
.env.*.local
*.log
dist
build
.idea
.vscode
*.swp
*.swo
*~
.coverage
htmlcov
.mypy_cache
.dmypy.json
dmypy.json
